<% # debugger %>
<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @article, local: true, class: "form-class p-4") do |f| %>
  <div class="mb-3">
    <div class="row">
      <div class="col-2">
        <%= f.label :title, class: "form-label text-white" , for: "exampleFormControlInput1"%>
      </div>
      <div class="col-10">
        <%= f.text_field :title, class: "form-control", id: "exampleFormControlInput1", placeholder: "My title" %>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col-2">
        <%= f.label :description, class: "form-label text-white" , for: "exampleFormControlInput1"%>
      </div>
      <div class="col-10">
        <%= f.text_area :description, class: "form-control", id: "exampleFormControlTextarea1", rows: 10 %>
      </div>
    </div>
  </div>
  <div class="mb-3 text-center">
    <%= f.submit class: "btn btn-outline-light" %>
  </div>
<% end %>
